.ExamComp{
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
}
.ExamComp input[type="radio"]:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #535353;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;

}

input[type="radio"]:checked:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: rgba(55, 255, 255, 0.5);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.optionDiv{
  width:100%;
}

.card{
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.button{
  /* box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3); */
  background-color: rgba(255, 255, 255, 0.11);
  border: 2px solid rgba(55, 255, 255, 0.5);
}

.opt1{
  width: 2.9vw;
  height: 2.9vw;
  background-color: #ff0000;
  border-radius: 50%;
}

.opt2{
  width: 2.9vw;
  height: 2.9vw;
  background-color: #51ff00;
  border-radius: 50%;
}

.question-nav-child{
  flex-basis: 20%;
}

.question-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* width: 100%; */
  margin-right: 0.7rem;
  row-gap: 5px;
  column-gap: 5px;
  flex-shrink: 12;
  /* border-radius: 15px;
  border: 1px solid black; */
  align-content: center;
  padding: 5px;
  margin-top: 5vw;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    background: hsl(0deg 51% 53% / 26%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.master-ques{
  flex-shrink: 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer{
  margin-top: 3vw;
  font-size: 3ch;
}

.ques-num{
  padding: 2px;
}


@media only screen and (max-width: 750px) {
  .ExamComp{
    flex-direction: column;
  }
  .question-nav{
    row-gap:28px;
    column-gap: 0px;
    width: 100%;
    padding:28px;
  }
  .opt1 , .opt2{
    width: 1.5vw;
    height: 1.5vw;
  }

}

@media only screen and (min-width: 750px) and (max-width: 1400px) {
  .ques-num{
    padding-top: 3px;
  }
  .opt1 {
    width: 2.9vw;
    height: 2.9vw;
  }
}