.ExamComp{
  flex-direction: row;
}
.ExamComp input[type="radio"]:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #535353;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: rgba(55, 255, 255, 0.5);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.optionDiv{
  width:100%;
}

.card{
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.button{
  /* box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3); */
  background-color: rgba(255, 255, 255, 0.11);
  border: 2px solid rgba(55, 255, 255, 0.5);
}

.opt1{
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  border-radius: 50%;
}

.opt2{
  width: 10px;
  height: 10px;
  background-color: #51ff00;
  border-radius: 50%;
}

.question-nav-child{
  flex-basis: 20%;
}

.question-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15%;
  margin-right: 5%;
}

@media only screen and (max-width: 720px) {
  .ExamComp{
    flex-direction: column;
  }
}
